services:
  MailGenerator-client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    volumes:
      - ./client:/app
      - /app/node_modules

  MailGenerator-server:
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - CLIENT_URL=${CLIENT_URL}
      - SERVER_PORT=${SERVER_PORT}