[
  {
    "id": "d5f77a1e-b3cf-4e9a-802e-c88d3e5b0f10",
    "title": "ME2M",
    "filename": "eazfez543fezr3423fZER.png",
    "originalname": "banniere-mail-me2m.png",
    "url": "uploads/eazfez543fezr3423fZER.png",
    "isDefault": true,
    "model": "edissyum"
  }
]